@import url('https://fonts.googleapis.com/css2?family=Gelasio:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Lora:ital,wght@0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Gelasio:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Lora:ital,wght@0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Mulish:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Gelasio', serif;


}
body{
    background: url(./images/software\ developer\ background.jpg);
    background-size: 100% 700px;
    background-repeat: no-repeat;
    
    
}
.container{
    position: relative;
    width: 100%;
    height: 1vh;
    background-color: white;
}
nav{
    display: flex;
    width: 100%;
    height: 60px;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    margin-top: 30px;

}

nav .logo{
    width: 60px;
    margin-left: 20px;
}
nav ul li{
    display: inline-block;
    margin: 10px 10px;
}
nav ul li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 18px;
    margin: 10px 10px;
}
nav ul li a:hover{
    color: rgb(226, 43, 226);
}
.title{
    margin-left: 33%;
    margin-top: 15%;
    align-items: center;
}
.title h2{
  color: rgb(246, 239, 230);
  margin-bottom: 55px;
  margin-left: 19%;
}
.title h1{
    font-size: 35px;
    color: rgb(250, 176, 220);
    margin-bottom: 25px;
    margin-left: 9%;
}
.title span{
    color: white;
}
.title h4{
    color: rgb(245, 247, 248);
    font-size: 22px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-right: 52%;
    margin-left: 5%;
    padding: 10px 15px;
    border-radius: 10px;
    text-align: center;
}
#about{
    text-wrap: wrap;
    margin-left: 8%;
    margin-top: 29%;
    margin-right: 8%;
  }

.heading{
    text-align: center;
  }
  .heading h2{
    font-size: 35px;

  }
  .heading span{
    font-size: 25px;
    color: rgb(45, 12, 144);
  }
  .about-content{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1rem;
    margin-top: 2rem;

  }
  .about-img img{
    width: 35%;
    border-radius: 10px;
    margin-left: 140px;
    box-shadow: 3px 3px 3px 3px rgb(82, 85, 87);
    margin-top: 20px;
  }
  .about-text{
    font-size: 18px;
    font-weight: 500;
    text-align: justify;
    line-height: 35px;
  }
  .information{
    margin: 1rem 0 1.4rem;
  }
  .information .info-box{
    display: flex;
    align-items: center;
    margin-bottom: 16px;
  }

  .information .info-box span{
    font-weight: 400;
    margin-left: 10px;
  }
  html{
    scroll-behavior: smooth;
  }
  .about-content a{
    background-color: rgb(31, 7, 84);
    padding: 10px 18px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    display: inline-block;
    margin: 30px 0;
    border-radius: 5px;
  }
  #education{
    margin-left: 8%;
    margin-top: 10%;
    margin-right: 8%;
  
  }
  .education-content{
    width: 60%;
    margin-left: 30%;
    margin-top: 5%;
    margin-right: 5%;
  }
  .edu ul{
    margin-left: 5px;
  }
  .edu li{
    
    margin-left: 60px;
    line-height: 35px;
  }
  .edu li h5{
    font-size: 18px;
    background-color: rgb(238, 220, 240);
    margin-left: 10px;
    margin-right: 500px;
    padding: 10px 10px;
    border-radius: 30px;
    color: black;
  }
  .edu li p{
    margin: 10px 10px;
    border-left: 1px solid;
    padding: 10px;
    font-size: 25px;
    color: rgb(50, 3, 107);
  }
  .edu li p span{
    font-size: 18px;
    color: rgb(90, 87, 87);
    margin-top: 50px;
  }
  #contact{
    margin-left: 0%;
    margin-top: 13%;
    margin-right: 0%;
    background-color: black;
    width: 100%;

  }
  #contact h2{
    color: rgb(250, 246, 246);
    padding-top: 30px;
    font-size: 35px;
  }
  .icondiv{
    margin-top: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .icon{
    width: 50px;
    height: 50px;
    border: 2px solid;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 254, 255);
    margin: 0 10px;

  }
  .icon i{
    font-size: 20px;
  }
  .icon i:hover{
    color: rgb(34, 124, 208);

  }
  footer{
    margin-top: 2rem;
    font-weight: bold;
    color: rgb(233, 230, 230);
    padding: 2rem;
  }
  @media(max-width: 1285px){
    .title h4{
      margin-right: 48%;
    }
  }
  @media(max-width: 1220px){
    .title h1{
      margin-left: 8%;
    }
  }
  @media(max-width: 1125px){
    .title h1{
      margin-left: 7%;
    }
  }
  @media(max-width: 1000px){
    .title h1{
      margin-left: 5%;
    }
    .title h4{
      margin-right: 48%;
      margin-left: 7%;
    }
    #about{
      margin-top: 35%;
    }
  }
  @media(max-width: 950px){
    .title h4{
      margin-right: 48%;
      margin-left: 9%;
    }
    body{
      
      background-size: 100% 600px;
    }
  }
  @media(max-width: 890px){
    .title h1{
      margin-left: 2%;
    }
    .title h4{
      margin-right: 43%;
      margin-left: 7%;
    }
    #about{
      margin-top: 45%;
    }
  }
  @media(max-width: 768px){
    body{
      
      background-size: 100% 500px;
    }
    .title{
      margin-left: 11%;
    }
    .title h2{
      margin-left: 35%;
    }
    .title h1{
      margin-left: 20%;
    }
    .title h4{
      margin-right: 31%;
      margin-left: 23%;
    }
    .about-img img{
      margin-left: 10%;
      
    }
    #about{
      margin-top: 35%;
    }
  }
  @media(max-width: 725px){
    
    .title h1{
      margin-left: 18%;
    }
    .title h4{
      margin-right: 28%;
      margin-left: 23%;
    }
    #about{
      margin-top: 30%;
    }
  }
  
  
  
  

  @media(max-width: 600px){
    body{
      background-size: 100% 500px;
      
  }
  nav{
    display: flex;
    position: relative;
    width: 100%;
    margin-top: 30px;


}
  nav h2{
    font-size: 15px;
  }
nav ul li a{  
  font-size: 15px;
  margin: 10px 5px;
}
.title{
  margin-left: 20%;
  margin-top: 15%;
  align-items: center;
}
.title h4{
  margin-left: 6%;
  margin-right: 18%;
}
.title h1{
  margin-left: 9%;
}
.title h2{
  margin-left: 29%;
}
#about{
  margin-top: 180px;
}
.heading h2{
  font-size: 30px;

}
.heading span{
  font-size: 20px;
}
.about-img img{
  width: 50%;
  margin-left: 15%;
  margin-top: 30%;
  box-shadow: 2px 2px 2px 2px rgb(82, 85, 87);
}
.about-text{
  font-size: 15px;
  line-height: 25px;
}
.education-content{
  width: 98%;
  margin-left: 3%;
  margin-top: 15%;
  margin-right: 5%;
}
.edu li{
  margin-left: 90px;
  line-height: 30px;
}
.edu li h5{
  font-size: 16px;
  margin-right: 60%;
}
.edu li p{
  font-size: 20px;
}
.edu li p span{
  font-size: 18px;
  color: rgb(90, 87, 87);
  margin-top: 50px;
}
#contact h2{
  font-size: 25px;
}
}

@media(max-width: 490px){
  .title{
    margin-left: 8%;
  }
}
@media(max-width: 460px){
  .title{
    margin-left: 3%;
  }
  nav ul li a{
    font-size: 12px;
  }
  .title h1{
    font-size: 33px;
  }
  #about-img img{
    margin-left: 11%;
    width: 60%;
  }
}
@media(max-width: 375px){
  .title h4{
    margin-left: 10%;
    margin-right: 12%;
  }
  #about-img img{
    margin-left: 2%;
    width: 90%;
  }
}


  


  